.fr-dropdown {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
}

.fr-dropdown .fr-dropdown-anchor {
  justify-content: space-between;
  padding: 0 1rem;
}

.fr-dropdown-anchor .dropdown-icon {
  font-size: 15px;
}

.fr-dropdown .fr-dropdown-list {
  width: 100%;
  position: absolute;
  background-color: #fff;
}

.fr-dropdown .fr-dropdown-container {
  align-items: flex-start;
}

.fr-dropdown-container .fr-dropdown-item {
  justify-content: flex-start;
  padding-left: 15px;
}
