.fr-dropdown.fr-dropdown {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
}

.fr-dropdown .fr-dropdown-selected {
  justify-content: space-between;
  padding: 0 1rem;
}

.fr-dropdown-selected svg {
  pointer-events: none;
}

.fr-dropdown .fr-dropdown-unselected {
  color: gray;
}

.fr-dropdown-selected .dropdown-icon {
  font-size: 15px;
}

.fr-dropdown .fr-dropdown-list {
  width: 100%;
  position: absolute;
  background-color: #fff;
  z-index: 6;
}

.fr-dropdown .fr-dropdown-container {
  align-items: flex-start;
}

.fr-dropdown-container .fr-dropdown-item {
  justify-content: flex-start;
  padding-left: 15px;
}
