.vr-page-num {
  display: flex;
  width: 2.5em;
  height: 2.45em;
  align-items: center;
  justify-content: center;
  border: solid 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-color: transparent;
}

.vr-page-num:active {
  opacity: 0.8;
}
.vr-page-num:hover {
  cursor: pointer;
}

.vr-page-num-sel {
  border: solid 0.5px rgba(0, 0, 0, 0.8);
}
