@keyframes show-modal-anim {
  0% {
    transform: translateY(100vh);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fr-transparent {
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.05);
}

.fr-transparent .fr-modal {
  inset: 0;
  z-index: 99;
  align-items: center;
  justify-content: center;
  animation: show-modal-anim 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
