.vr-bar-indicator {
  border-radius: var(--BAR-ROUND);
}

.vr-bar-indicator .vr-bar-indicator-anc {
  transform: width 1s ease-in-out;
}

.moving {
  animation: linear infinite;
  animation-duration: var(--BAR-ANCHOR-SPEED);
  animation-name: moving-animation;
}

@keyframes moving-animation {
  0% {
    x: calc(var(--BAR-ANCHOR-WIDTH) * -1.25);
  }
  100% {
    x: calc(var(--BAR-ANCHOR-WIDTH) + var(--BAR-ANCHOR-WIDTH) * 0.25);
  }
}
