@keyframes moving-anim {
  0% {
    x: calc(var(--BAR-ANCHOR-WIDTH) * -1.25);
  }
  100% {
    x: calc(var(--BAR-ANCHOR-WIDTH) + var(--BAR-ANCHOR-WIDTH) * 1.25);
  }
}

.fr-indicator-bar {
  border-radius: var(--BAR-ROUND);
}

.fr-indicator-bar .fr-indicator-bar-bg {
}

.fr-indicator-bar .fr-indicator-bar-anc {
  transition: width 1s ease-in-out;
}

.moving {
  animation: linear infinite;
  animation-duration: var(--BAR-ANCHOR-SPEED);
  animation-name: moving-anim;
}
