.vr-circle-indicator {
  transform: rotate(-90deg);
}

.vr-circle-indicator .vr-circle-indicator-anc {
  transition: stroke-dashoffset 1s ease-in-out;
}

.rotating {
  animation: linear infinite;
  animation-name: rotate-animation;
  animation-duration: var(--CIRCLE-ANCHOR-SPEED);
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.effects {
  animation: infinite alternate;
  animation-name: effects-animation;
  animation-duration: var(--CIRCLE-ANCHOR-SPEED);
}

@keyframes effects-animation {
  0% {
    stroke-dashoffset: calc(var(--CIRCLE-ANCHOR-WIDTH) * 2);
  }
  100% {
    stroke-dashoffset: var(--CIRCLE-ANCHOR-WIDTH);
  }
}
